# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore build output folders
dist/
build/

# Ignore environment files
.env

# Ignore OS system files
.DS_Store

# Ignore package lock files if not needed
package-lock.json
yarn.lock
